<form action="/Parcel" method="post">
  <label for="description">Description of the Pacel</label>
  <input id="description" name="description" type="text"><br>
  <label for="height">Height of the Pacel</label>
  <input id="height" name="height" type="text"><br>
  <label for="length"> Length of the Pacel</label>
  <input id="length" name="length" type="number"><br>
  <label id="width"> Width of the Pacel</label>
  <input for="width" name="width" type="number"><br>
  <label id="weight"> Weight of the Pacel</label>
  <input for="weight" name="weight" type="number"><br>
  <button type="submit">Submit</button>
</form>